@model IEnumerable<MVC_Ticari_Otomasyon.Models.Classes.ClassGroup3>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Ürün Marka Tablosu</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Marka</th>
                    <th>Progress Bar</th>
                    <th style="width: 40px">Toplam</th>
                </tr>
            </thead>
            <tbody>
                @{ int sayı = 0;}
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@{sayı++;}@sayı</td>
                        <td>@x.brand</td>
                        <td>@x.value</td>
                        <td>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg-danger">@x.value</span></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>